* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'popins', sans-serif;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: rgb(68, 60, 60);
    cursor: default;
    display: flex;
}

span {
    color: orange;
}

.navigation a {
    font: 1.1em;
    color: rgb(68, 60, 60);
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
    justify-content: space-between;
}

.navigation a:hover {
    color: orange;
}

.tombol-download {
    color: white;
    text-decoration: none;
    padding: 8px 35px;
    background: orange;
    border-radius: 5px;
    border: 2px solid orange;
    font-weight: 500;
    transition: .3s;
}

.tombol-download:hover {
    color: orange;
    background: transparent;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content {
    max-width: 500px;
    color:rgb(68, 60, 60);
}

.content h2 {
    font-size: 3em;
}

.content h4 {
    font-size: 2em;
}

.content p {
    padding: 10px 0 40px 0;
}

.grup-tombol a {
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    background: orange;
    border-radius: 10px;
    border: 2px solid orange;
    font-weight: 500;
    transition: .3s;
}

.grup-tombol a:hover:nth-child(1) {
    color: orange;
    background: transparent;
}

.grup-tombol a:nth-child(2) {
    color: orange;
    background: transparent;
    margin-left: 30px;
    padding: 10px 20px;
}

.grup-tombol a:hover:nth-child(2) {
    color: white;
    background: orange;
}

.sosmed {
    position: absolute;
    bottom: 50px;
}

.sosmed a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: transparent;
    border-radius: 50px;
    margin-right: 72px;
    text-align: center;
    line-height: 40px;
    outline: 3px solid orange;
    transition: .3s;
}

.sosmed a:hover {
    transform: translateY(-5px);
}

.sosmed a i {
    color: rgb(68 60 60);
    font-size: 20px;
}

.image {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 70%;
    filter: drop-shadow(5px 5px 5px black);
}

